.survey-list__title,
.survey-details__title {
  font-size: 30px;
  margin-bottom: 30px;
}

survey-list {
  width: 100%
}

.survey-list li{
  flex: 1;
  margin: 20px;
}

.survey-list button {
  background-color: #337ab7;
  color: #ffffff;
}

.survey-list button:hover {
  background-color: #326ab7;
}

.survey-list p {
  margin: 5px;
}
.survey-list .survey {
  padding: 40px 25px;
  box-shadow: none;
  border: 0;
  border-radius: 3px;
  text-align: left;
  width: 100%;
}

.survey-list__wrapper {
  width: 80%;
}

.survey-list .survey__title {
  font-size: 30px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}
