/****** Common *******/
h1, h2, h3, h4, h5, h6, label, a{
  font-family: 'Poiret One', cursive, 'Arial';
  margin:0;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/******* App *********/
.main {
  border: 1px solid #666;
  width: 100%;
  margin: 0 auto;
}

.main__header {
  height: 100px;
}

.main__container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  height: calc(100vh - 140px);
  align-items: center;
  justify-content: center;
}

.main__footer,
.main__header {
  border-top: 1px solid #666;
  background: #333333;
}

.main__header, 
.main__container, 
.main__footer {
  padding: 15px;
}

.main__header--title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
}

.main__header--desc,
.main__footer--copyright {
  font-size: 10px;
  color: #fff;
  letter-spacing: 3px;
}

.survey_list__title,
.survey_details__title {
  font-size: 30px;
  margin-bottom: 30px;
}

survey-list {
  width: 100%
}

.survey-list {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.survey-list li{
  flex: 1;
  margin: 20px;
}

.survey-list p {
  margin: 5px;
}
.survey-list .survey {
  padding: 40px 25px;
  box-shadow: none;
  border: 0;
  border-radius: 3px;
  text-align: left;
  width: 100%;
}

.survey-list .survey__title {
  font-size: 30px;
}

